body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
}

.input {
    outline: none;
    border: none;
    height: 100%;
    width: 75%;
    padding: 0.8rem;
    font-size: 20px;
    margin-bottom: 2rem;
}


.results-list {
    border-radius: 10px ;
    width: 100%;
    box-shadow: 0px 0px 8px #ddd;
    overflow-y: scroll ;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

.each-result {
    padding: 0.5rem;
}

.each-result:hover {
    background-color: #efefef;
}

.movie-info {
    padding: 2rem;
    text-align: center;
    border: solid 1px silver;
    max-width: 500px;
    border-radius: 30px;
    overflow-y: auto;
}

.poster {
    padding: 10px;
}

.plot, .cast, .rating, .bold{
    font-weight: bold;
}

.movie-list::-webkit-scrollbar {
    display: none;  /* for Chrome, Safari, and Opera */
}

.movie-list {
    max-height: 700px;
    overflow-y: scroll;
}

.title {
    border-bottom: 1px solid black;
}

.movies {
    margin-bottom: 100px;
}