body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#root {
    position: relative;
    min-height: 100vh;
}

.footer-component {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container {
    position: relative;
}

/* search bar */
.search-bar{
    border: 1px solid rgb(81, 84, 25);
    padding: 0.2em 0.8em;
    border-radius: 20px;
}

.input {
    outline: none;
    border: none;
    height: 100%;
    width: 75%;
    padding: 0.8rem;
    font-size: 20px;
}


.results-list {
    border-radius: 10px ;
    width: 100%;
    box-shadow: 0px 0px 8px #ddd;
    overflow-y: scroll ;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

.each-result {
    padding: 0.5rem;
}

.each-result:hover {
    background-color: #efefef;
}

.movie-info {
    padding: 2rem;
    text-align: center;
    border: solid 1px silver;
    max-width: 500px;
    border-radius: 30px;
    overflow-y: auto;
}


.poster {
    padding: 10px;
}

.plot, .cast, .rating, .bold{
    font-weight: bold;
}

.movie-list::-webkit-scrollbar {
    display: none;  /* for Chrome, Safari, and Opera */
}

.movie-list {
    max-height: 700px;
    overflow-y: scroll;
}

/* mouse hover effect on each card */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.title {
    border-bottom: 1px solid black;
}

.movies {
    margin-bottom: 100px;
}